<br/>
<div class="form-group">
  <label>Band</label>
  <span class="spacer"></span>
  <select class="form-control" id="band" [(ngModel)]="selectedBand" (change)="bandSelected($event.target)">
    <option *ngFor="let band of store.bands" [ngValue]="band">{{band}}</option>
  </select>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <label>Albums</label>
  <span class="spacer"></span>
  <input id="albums-inp" [(ngModel)]="albums">
  <span class="spacer"></span>
  <span class="spacer"></span>
  <label>Rows</label>
  <span class="spacer"></span>
  <input id="rows-inp" [(ngModel)]="rows">
</div>

<albums [band]="selectedBand" [numAlbums]="albums" [numRows]="rows"></albums>
