<div id="settings-page-padding">
  <h4>Settings</h4>
  <div id="settings-table">
    <div class="settings-table-column">
      <ul id="bands-list">
        <li *ngFor="let band of bands; let i = index" [ngClass]="{'selected-band': isSelected(band), 'band': !isSelected(band)}" (click)="bandSelected(band)">{{band}}</li>
      </ul>
    </div>
    <div class="settings-table-column">
      <div *ngIf="selectedBand" id="settings-detail">
        <label>Albums</label>
        <input id="num-albums" [(ngModel)]="settings[this.selectedBand].albums">
        <br/>
        <label>Rows</label>
        <input id="num-rows" [(ngModel)]="settings[this.selectedBand].rows">
      </div>
    </div>
  </div>
  <ul class="nav nav-pills" id="button-panel">
    <button type="button" id="update-button" class="btn btn-danger" (click)="applyNewSettings($event)">Update</button>
    <button type="button" id="cancel-button" class="btn btn-danger" (click)="cancelChanges($event)">Cancel</button>
  </ul>
</div>

<br/><br/>
<div id="post-example">
  <h4>Post Example</h4>
  <label>greeting</label>
  <input id="post-param" [(ngModel)]="postParam">&nbsp;&nbsp;
  <button type="button" id="post-button" class="btn btn-danger" (click)="doPost($event)">Post</button><br/>
  <pre>{{postResults | json}}</pre>
</div>
